
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Install Arch Linux
Comment=larchin, the larch / Arch installer
Categories=Application;
Exec=larchin.py
Icon=larchin
Terminal=false
StartupNotify=true
GenericName=
