[Desktop Entry]
Hidden=false
Name[en_US]=Airsnort
NoDisplay=false
Icon[en_US]=/usr/share/icons/Tango/scalable/devices/gnome-dev-wavelan.svg
Exec=/usr/bin/airsnort
Type=Application
Version=1.0
StartupNotify=false
Name=Airsnort
Terminal=false
Icon=/usr/share/icons/Tango/scalable/devices/gnome-dev-wavelan.svg
