[Desktop Entry]
Hidden=false
Name[en_US]=Wireshark
NoDisplay=false
Icon[en_US]=/usr/share/icons/Tango/scalable/devices/gnome-dev-wavelan.svg
Exec=/usr/bin/wireshark
Type=Application
Version=1.0
StartupNotify=false
Name=Wireshark
Terminal=false
Icon=/usr/share/icons/Tango/scalable/devices/gnome-dev-wavelan.svg
