[Desktop Entry]
Hidden=false
Name[en_US]=kismet
NoDisplay=false
Icon[en_US]=/usr/share/icons/Tango/scalable/devices/gnome-dev-wavelan.svg
Exec=/usr/bin/kismet
Type=Application
Version=1.0
StartupNotify=false
Name=kismet
Terminal=false
Icon=/usr/share/icons/Tango/scalable/devices/gnome-dev-wavelan.svg
