#################### PANEL BACKGROUND #########################xx

style "panelbg"
{
  
 xthickness            			= 0
  ythickness            			= 0
bg_pixmap[NORMAL]					= "Panel/panelbutton1.png"
#bg_pixmap[SELECTED]					= "Panel/panelbutton1.png"
#bg_pixmap[INSENSITIVE]					= "Panel/panelbutton1.png"
#bg_pixmap[PRELIGHT]					= "Panel/panelbutton1.png"
#bg_pixmap[ACTIVE]					= "Panel/panelbutton1.png"
}

class "*Panel*" style "panelbg"
widget_class "*notif*" style "panelbg"
widget_class "*Notif*" style "panelbg"
widget_class "*Tray*" style "panelbg"
widget_class "*tray*" style "panelbg"

##################### PANEL BUTTONS ###############################

style "panelbuttons"
{

  fg[NORMAL]        = "#DDDDDD" # 
  fg[PRELIGHT]      = "#FFFFFF" # text on buttons (hover)
  fg[ACTIVE]        = "#FFFFFF" # text on unfocused tabs
  
  xthickness            			= 2
  ythickness            			= 1

	GtkWidget::focus_padding = 2

	engine "pixmap" {

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= NORMAL
			file		= "Panel/panelbutton-1.png"
			border		= { 4, 4, 4, 4 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= PRELIGHT
			file		= "Panel/panelbutton-1.png"
			border		= { 4, 4, 4, 4 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			shadow		= OUT
			state		= PRELIGHT
			file		= "Panel/panelbutton-1.png"
			border		= { 4, 4, 4, 4 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			shadow		= IN
			state		= PRELIGHT
			file		= "Panel/panelbutton-1.png"
			border		= { 4, 4, 4, 4 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= ACTIVE
			file		= "Panel/panelbutton-1.png"
			border		= { 4, 4, 4, 4 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= INSENSITIVE
			file		= "Panel/panelbutton-1.png"
			border		= { 4, 4, 4, 4 }
			stretch		= TRUE
		}  

	}

}


widget "*PanelWidget*" style "panelbuttons"
widget "*PanelApplet*" style "panelbuttons"
widget_class "*Panel*GtkToggleButton*" style "panelbuttons"
widget_class "*Panel*GtkButton" style "panelbuttons"
widget_class "*PanelButton*." style "panelbuttons"
widget_class "*Panel*" style "panelbg"


